<p id="notice"><%= notice %></p>
<h1>スレッド詳細</h1>

<p>
  <strong>タイトル：</strong>
  <%= @board.title %>
</p>

<p>
  <strong>作成者：</strong>
  <%= @board.user.username %>
</p>


<% if @board.user_id == current_user.id %>
  <%= link_to '編集', edit_board_path(@board) %>
<% end %>

<%= link_to '一覧に戻る', boards_path %>
